.footer {
    display: grid;
    grid-template-columns: 0.3fr 1.8fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "hours contact_foot logo_foot";
    grid-area: footer;
    border-top: black solid 2px;
    margin-top: 2%;
    height: 60%;
}

.hours {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    grid-area: hours;
    font-weight: bold;
    font-size: 15px;
    width: 150%;
}

.contact_foot {
    margin-top: 2%;
    grid-area: contact_foot;
    font-weight: bold;
    font-size: 15px;
}


.logo_foot {
    margin-top: 20%;
    margin-right: 30%;
    grid-area: logo_foot;
    float: right;
    background-image: url(scr/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.foot_info {
    margin-left: 8%;
    display: inline-block;
}
