body{ background: radial-gradient(circle, #00a9ab 0%, #69279d 100%);}

.container_career * {
    /*border: 1px solid red;*/
     position: relative;
   }
   
   .container_career *:after {
     /*content: attr(class);      chowa opisy   */
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: grid;
     align-items: center;
     justify-content: center;
   }
  
  .header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas: "logo nav1 nav2 nav3 nav4 nav5 nav6 x1 x2";
      grid-area: header;
      height: 50px;
    }
  
    .logo {
      grid-area: logo;
      background-color: blue;
    }
    
    #log{
      height: auto;
      width: auto;
    }
    
    .nav1 {
      grid-area: nav1;
      margin-right: 5px;
    }
    
    .nav2 {
      grid-area: nav2;
      margin-right: 5px;
    }
    
    .nav3 {
      grid-area: nav3;
      margin-right: 5px;
    }
    
    .nav4 {
      grid-area: nav4;
      margin-right: 5px;
    }
    
    .nav5 {
      grid-area: nav5;
      margin-right: 5px;
    }
    
    .nav6 {
      grid-area: nav6;
      margin-right: 5px;
    }
    
    .x1 {
      grid-area: x1;
      background-color: black;
      margin-right: 5px;
    }
    
    .x2 {
      grid-area: x2;
      background-color: black;
    }
    
    #nav{
      text-align: center;
    }
    
    #navX{
      color: white;
      text-align: center;
    }
  
    .footer {
      grid-area: footer;
      height: 40px;
    }
    
    html,
    body,
    .container_career {
      height: 100%;
      margin: 0;
    }
  
    .container_career {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.3fr 2.5fr 0.2fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header"
          "job_offers"
          "footer"; 
      }
  
  .job_offers { grid-area: job_offers;
}

h1{
    font-size: 70px;
    margin-left: 20%;
    margin-bottom: 5%;
}

h2{
    font-size: 35px;
    display: inline-block;
    margin-left: 1%;
}

p{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
}

.apply{
    font-size: 20px;
    float: right;
    margin-right: 7%;
    margin-top: 2%;
    transition-duration: 0.4s;
    background-color: #00a9ab;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.apply:hover {
    background-color:azure; /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .job{
    border: black solid 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}